@import url("https://fonts.googleapis.com/css?family=Merriweather");

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  transition: all ease 0.1s;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.teal-gradient {
  background: rgb(20 184 166);
  background: linear-gradient(
    -90deg,
    rgb(20 184 166) 0%,
    rgba(60, 51, 80, 0) 100%
  );
  background: -webkit-linear-gradient(
    -90deg,
    rgb(20 184 166) 0%,
    rgba(60, 51, 80, 0) 100%
  );
}